<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg2">
        <img src="../../../assets/fotoperfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg2">
        <p id="nombre">Raul Barilla</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolores minima autem facere accusamus doloribus dolorum nulla, quidem aspernatur explicabo? Repudiandae deserunt amet alias obcaecati vero ratione! Vel, excepturi velit.</p>
        </span>
    </div>
</div>
